
<body onload="document.forms[0].username.focus();">

<center>

{% if authenticationFailed %}
<div style='color: red'>
<h3>Authentication attempt failed, please make sure you entered your login and password correctly<br>
</h3>
</div>
{% endif %}

{% if accountDisabled %}
<div class='color: red'>
<h3>Your account is <b>disabled</b>, please contact your site administrator.</h3>
</div>
{% endif %}

<form method='POST' action="{% url "account_login" %}">{% csrf_token %}
{% if nextPage %}
<input type='hidden' name='nextPage' value='{{nextPage}}'/>
{% endif %}
 <table>
  <tr> <th colspan='2'>login</th> </tr>
  <tr> <td align='left'>username</td> <td align='left'><input type='text' name='username' class='textInput'></td> </tr>
  <tr> <td align='left'>password</td> <td align='left'><input type='password' name='password' class='textInput'></td> </tr>
  <tr> <td colspan='2' align='center'> <input type='submit' class='buttonInput' value='login'> </td> </tr>
 </table>
</form>
</center>
